[submodule "lib/dependency/git"]
	path = lib/dependency/git
	url = git://github.com/schacon/ruby-git.git
[submodule "lib/dependency/json"]
	path = lib/dependency/json
	url = git://github.com/flori/json.git
[submodule "lib/dependency/log4r"]
	path = lib/dependency/log4r
	url = git://github.com/colbygk/log4r.git
